---
import AboutComponent from '@components/about/AboutComponent.astro';
import Navbar from '../../components/navbar/Navbar.astro';
import { getStaticPaths, getI18nProps } from '../../i18n/helperi18n';
import MainLayout from '../../layouts/MainLayout.astro';
import ContactComponent from '@components/contact/ContactComponent.astro';
import IndexComponent from '@components/index/IndexComponent.astro';


export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, 'home');

---


<MainLayout title={title} lang={lang}>


  <IndexComponent title={title} />

  <!-- <div class="section">
    <AboutComponent title={title} />
  </div>

 
  <ContactComponent title={title}/> -->



</MainLayout>
